<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>在呢+</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>在呢+</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.zaine.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zaine</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>在呢需要访问相机以扫描二维码添加联系人。</string>
	<key>NSContactsUsageDescription</key>
	<string>在呢需要访问您的通讯录，以便添加紧急联系人。</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>在呢需要读取您的健康记录（步数、心率、血氧、睡眠），以便在紧急情况下向守护人展示您的健康状况。</string>
	<key>NSHealthShareUsageDescription</key>
	<string>在呢需要同步您的健康数据（心率、血氧、睡眠、经期等），以实现生命体征守护功能。</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>在呢需要读取您的健康数据，以实现每日签到报平安和经期跟踪功能。</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>在呢需要始终获取您的位置，以便在您发起求助时向您的守护人发送位置信息。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>在呢需要获取您的位置，以便在紧急情况下向您的联系人发送您的位置信息。</string>
	<key>NSPhoneUsageDescription</key>
	<string>在呢需要在紧急情况下拨打您的紧急联系人。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>在呢需要访问相册以选择联系人头像。</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UNUserNotificationCenter</key>
	<string>在呢需要发送通知提醒您定时报平安。</string>
</dict>
</plist>
