<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store-connect</string>
	<key>teamID</key>
	<string>KK27TYK93U</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>uploadBitcode</key>
	<false/>
	<key>uploadSymbols</key>
	<true/>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>authenticationKeyID</key>
	<string>GMY27TPQ5P</string>
	<key>authenticationKeyIssuerID</key>
	<string>3a2b136b-dfbb-4dbc-a096-14016905ea50</string>
</dict>
</plist>
